<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--    <title>Add User</title>-->
<!--</head>-->
<!--<body>-->

<!--<div style="display:flex; justify-content:space-between; align-items:center; margin-bottom:15px;">-->

<!--    <h2 style="margin:0;">Add User</h2>-->
<!--    &lt;!&ndash; for edit page change title to Edit User &ndash;&gt;-->

<!--    <a href="/users/list"-->
<!--       style="padding:6px 12px;-->
<!--              background:#ddd;-->
<!--              color:#000;-->
<!--              text-decoration:none;-->
<!--              border-radius:4px;">-->
<!--        ← Back-->
<!--    </a>-->

<!--</div>-->



<!--<form th:action="@{/users/add}" method="post" enctype="multipart/form-data">-->


<!--    <label>Name:</label><br>-->
<!--    <input type="text" name="name" required><br><br>-->

<!--    <label>Email:</label><br>-->
<!--    <input type="email" name="email" required><br><br>-->

<!--    <label>Password:</label><br>-->
<!--    <input type="password" name="password" required><br><br>-->

<!--    <label>Phone No:</label><br>-->
<!--    <input type="text" name="phoneNo"><br><br>-->

<!--    <label>User Type:</label><br>-->
<!--    <input type="number" name="userType"><br><br>-->

<!--    <label>Image:</label><br>-->
<!--    <input type="file" name="image" accept="image/*"><br><br>-->

<!--    <label>Address:</label><br>-->
<!--    <textarea name="address"></textarea><br><br>-->

<!--    <label>Gender:</label><br>-->
<!--    <select name="gender">-->
<!--        <option value="">Select</option>-->
<!--        <option value="Male">Male</option>-->
<!--        <option value="Female">Female</option>-->
<!--        <option value="Other">Other</option>-->
<!--    </select><br><br>-->

<!--    <label>GST No:</label><br>-->
<!--    <input type="text" name="gstNo"><br><br>-->

<!--    <button type="submit" style="color:white;padding:2px;border-radius:2px;background-color:green;border-color:green;">Add User</button>-->

<!--</form>-->

<!--</body>-->
<!--</html>-->
<!--&lt;!&ndash;webtest@example.com&ndash;&gt;-->
<!--&lt;!&ndash;webtest123&ndash;&gt;-->