<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--    <title>Dashboard</title>-->
<!--    <style>-->
<!--        html,body {-->
<!--            margin: 0;-->
<!--            font-family: Arial, sans-serif;-->
<!--            height:100%-->
<!--        }-->


<!--        .container {-->
<!--            display: flex;-->
<!--            min-height: 100vh;-->
<!--        }-->


<!--        .sidebar {-->
<!--             width: 200px;-->
<!--             background-color: #2c3e50;-->
<!--             color: white;-->
<!--             padding-top: 20px;-->
<!--             display: flex;-->
<!--             flex-direction: column;-->
<!--             height: 100vh;-->
<!--        }-->

<!--        .sidebar h2 {-->
<!--            text-align: center;-->
<!--            margin-bottom: 30px;-->
<!--        }-->

<!--        .sidebar a {-->
<!--            display: block;-->
<!--            padding: 12px 20px;-->
<!--            color: white;-->
<!--            text-decoration: none;-->
<!--        }-->

<!--        .sidebar a:hover {-->
<!--            background-color: #34495e;-->
<!--        }-->


<!--        .content {-->
<!--            flex: 1;-->
<!--            padding: 20px;-->
<!--            background-color: #f4f6f8;-->
<!--        }-->


<!--        .logout {-->
<!--           margin-top:auto;-->
<!--            margin-bottom: 15px;-->
<!--            text-align: center;-->
<!--        }-->

<!--        .logout button {-->
<!--            padding: 8px 15px;-->
<!--            border: none;-->
<!--            background-color: #e74c3c;-->
<!--            color: white;-->
<!--            cursor: pointer;-->
<!--        }-->

<!--        .logout button:hover {-->
<!--            background-color: #c0392b;-->
<!--        }-->
<!--    </style>-->
<!--</head>-->
<!--<body>-->

<!--<div class="container">-->

<!--    &lt;!&ndash; Sidebar &ndash;&gt;-->
<!--    <div class="sidebar">-->
<!--        <h2>Dashboard</h2>-->
<!--        <a href="/users/dashboard">Home</a>-->
<!--        <a href="/users/list">Users</a>-->

<!--        <div class="logout">-->
<!--            <form th:action="@{/logout}" method="post">-->
<!--                <button type="submit">Logout</button>-->
<!--            </form>-->
<!--        </div>-->
<!--    </div>-->

<!--    <div class="content">-->

<!--        &lt;!&ndash; DASHBOARD CONTENT &ndash;&gt;-->
<!--        <div th:if="${page == null or page == 'dashboard'}">-->
<!--            <h1 style="color:grey;">Vendor Dashboard</h1>-->
<!--            <p>Welcome to Vendor Dashboard</p>-->
<!--        </div>-->

<!--        &lt;!&ndash; USERS LIST (ONLY AFTER CLICK) &ndash;&gt;-->
<!--        <div th:if="${page == 'users'}">-->
<!--            <div th:replace="userlist"></div>-->
<!--        </div>-->


<!--        &lt;!&ndash; DELETE USER (optional) &ndash;&gt;-->
<!--        <div th:if="${page == 'delete'}">-->
<!--            <div th:replace="deleteuser"></div>-->
<!--        </div>-->



<!--    </div>-->


<!--</div>-->

<!--</body>-->
<!--</html>-->
